[submodule "external/Chipmunk"]
	path = external/Chipmunk
	url = https://github.com/finthamoussu/Chipmunk2D.git
	branch = master
[submodule "external/ObjectAL"]
	path = external/ObjectAL
	url = https://github.com/finthamoussu/ObjectAL-for-Cocos2D.git
	branch = apportable
[submodule "external/SSZipArchive"]
	path = external/SSZipArchive
	url = https://github.com/finthamoussu/ssziparchive.git
	branch = master
